.con1{
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: auto;
    margin-top: 30px;
}

.input1{
    height: 35px;
    outline: none;
}

.btn{
   height: 35px;
   border: 1px solid black;
}